# Python
__pycache__/
*.py[cod]

# Virtual Environment
.venv/
venv/

# IDE
.vscode/
.idea/

# Environment
.env

# Logs
*.log

# Chroma Database
vector_db/

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db

# Docuents 
Documents
